#
# Cross-compilation & Flashing only !
# Removing unused folders
#

documentation

machines/*
!machines/avr

examples/*
!examples/avr/arduinoUno


### Base .gitignore

*~
## Vim...
.*.swp
##python
*.pyc
##Xcode related file
*.pbxproj
##build stuff
*.o
*.dep

